/**
 * Created by vkashikar on 10/31/2019.
 */
.THIS .bottomRegion .flexipageComponent{
    float: left;
    padding-right: 10px;
}
.THIS .bottomRegion flexipage-component2{
    float: left;
    padding-right: 10px;
}