/**
 * Created by vkashikar on 9/11/2017.
 */
.THIS .PC_tile {
	background:white;
	border-color: black;
    border-width: 2px;
    border-style: solid;
}
.THIS .slds-card__header {
    padding: .25rem .75rem 0rem;
    margin-bottom: 0rem;
}
.THIS .slds-card__body {
    margin-bottom: 0rem;
}
.THIS .dropdown-wrapper{
    width:100% !important;
}
.THIS ul li.selected span::before {
    content: '✓\00a0';
    display: inline-block;
    color: rgb(0, 112, 210);
    font-weight : bold;

}