/**
 * Created by peharitha on 4/2/2019.
 */

.THIS table.slds-table {
    border: 1px solid #d8dde6;
    border-collapse: collapse;
    border-spacing: 0;
}

.THIS .dataTable {
    height: 200px;
    overflow: auto;
}

.THIS .slds-text-title_caps{
    font-size:85%;
}
.THIS .pc_spinner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
}