/**
 * Created by sathekumar on 2/28/2022.
 */
.THIS .errorMessageFont{
    font-size:11px;
    color:rgb(194, 57, 52);
}
.THIS.supportError{
    padding-left:20%;
    font-size:12px;
    color:red;
}
.THIS.contentBox{
    margin-left:20%;
    border: 1px solid #006eb3;
    border-radius: .25rem;
    background-color: rgb(249, 249, 250);
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .4rem .4rem .4rem .4rem;
}