/**
 * Created by peharitha on 12/3/2018.
 */

.THIS .AE label{
    color: rgb(62, 62, 60);
    font-size: .75rem;
    font-weight: 700
}
.THIS .fieldStyle{
    padding-bottom:1rem;
}
.THIS .labelStyle{
    color: rgb(62, 62, 60);
    font-size: .75rem;
    font-weight: 700
}