/*
Created by Xiukai Ning on 12/20/2019  [PC-5802]
*/

.slds-page-header {
    padding:5px;
    font-size:15px;
}

.rtc-div {
   padding:10px;
   overflow:hidden;
   background-color:#fff;
   clear:both;
   display: flex;
   flex-wrap: wrap;
}