.THIS table.slds-table {
    border: 1px solid #d8dde6;
    border-collapse: collapse;
  
}

.THIS .slds-tabs--scoped__nav  {
    border-radius: .25rem .25rem .25rem .25rem;
}

.THIS .inputBoxPadding {
    padding-top: 20px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 20px;
}