.THIS .PC_Title {
    font-size: 1.1em;
    color: rgba(82, 63, 63, 0.66);
    position: relative;
    top: 50%;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}