/**
 * Created by sathekumar on 7/7/2020.
 */
.THIS .table-column-width{
    width: 40%;
}

.THIS .pc-th-center {
    display: flex;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    align-items: center;
}

.THIS table tr>th:first-child .pc-th-center {
    display: flex;
    height: 2rem;
    padding:0;
    align-items: center;
}

.THIS .pc-attachment-scrollable_y {
    max-height: 155px;
    overflow: hidden;
    overflow-y: auto;
}

.THIS .pc-table-layout-fixed{
    table-layout: fixed
}